@font-face {
  font-family: "Sakkal Majalla Regular";
  src: url("./Fonts/sakkalFont/ArbFONTS-majalla.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary-color: #303c28;
  --secondary-color: #85594a;
  --third-color: #967b60;
  --forth-color: #dad8d7;
  --main-background-color: rgb(235, 241, 244);
  --primary-font-color: #2e384d;
  --second-font-color: #8798b0;
  --third-font-color: #2e384de6;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Roboto", "Sakkal Majalla Regular" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 85%;
  margin: auto;
}

.link {
  display: block;
  color: #1d3c45;
  text-decoration: none;
  padding: 10px 15px;
  font-weight: bold;
}

a:hover {
  color: #fff1e1 !important;
  background-color: #1d3c45;
  font-weight: 700;
  border-radius: 20px 0px 20px 0px;
}

.cursor-pointer {
  cursor: pointer;
}

.mySwiper {
  padding-bottom: 30px !important;
}
.mySwiper
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--primary-font-color);
}

.modal {
  overflow: hidden !important;
}
.modal-content {
  background-color: rgba(221, 221, 221, 10) !important;
}
.modal-open {
  padding: 0px !important;
}
.swiper-button-prev,
.swiper-button-next {
  color: var(--primary-font-color) !important;
}

@media (min-width: 32px) and (max-width: 991px) {
  .modal {
    margin-top: 20vh;
  }
}

/* animation classes for works section*/
.fadeRightText {
  animation-name: fadeRight;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}
@keyframes fadeRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.fadeLeftImage {
  animation-name: fadeLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}
@keyframes fadeLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* end of animation classes for works section*/
